.container{
    width: 80%;
    margin:auto;
    
}
header{
    background-color:bisque;
    text-align: center;
     padding: 5px;
}
.post h2{
    color: brown;
    font-size: 18px;
    font-style: oblique;
   
}
small{
     text-decoration: underline;
}
h3{
     color: brown;
    font-style: oblique;

}
li{
  list-style: none;
}

footer{
    text-align: center;
    font-size: 18px;
    background-color:bisque;
}
