/* body{
    margin: 0;
}
.box-1{
    background-color: black;
    color: white;
}
.container{
      width: 800px;
      margin: auto;
} */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

body{
    background-color: #f4f4f4;
    color: #555;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;

}
#main-header{
    text-align: center;
    background-color: coral;
    color:#fff;
}
#navbar{
    
    background-color: #333;
    color: #fff;
}
#navbar ul{
    list-style: none;
    padding: 0;
}
#navbar li{
    display: inline;
}
#navbar a{
    padding-right:15px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

 #showcase {
    height: 300px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKYOEeMUK_SrhFa8GhwzaQeOvS8GYpuyJM0g&s");
    background-size: cover;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
   
} 



#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main-section{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box; 

}
#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box; 
}
footer{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin-top: 40px;
}